<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>
<head>
  <script type="text/javascript" src="/scripts/userFunctions.js"></script>
  <title>List of users</title>
</head>
<body>
<div layout:fragment="content">

  <div class="container">
    <div class="addMargin  row">
      <h2 class="md-3 offset-md-1" >List of users </h2>
    </div>
    <span class="row">
      <span id="globalError" class="alert alert-danger col-sm-4 my-4" style="display: none;" ></span>
    </span>
    <div class="row">
      <a class="btn btn-success m-2" href="/admin/user/new">Create user</a>
    </div>
    <div class="row">
      <table class="table table-hover ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iStat : ${users}">
          <th scope="row" th:text="${iStat.count}" >count</th>
          <td th:text="${user.username}">username</td>
          <td th:text="${user.email}">email</td>

          <td> <a class="btn button-dark" th:href="@{|/admin/user/id/${user.id}|}">More</a></td>
          <td><button class="btn btn-danger-update" th:onclick="'deleteUser(' + ${user.id} + ')'">Delete</button></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>