<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <script type="text/javascript" src="/scripts/orderFunctions.js"></script>
    <title>Springboot Rocks</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <div class="addMargin row">
              <h2 class="md-3 offset-md-1" >[[${pageName}]]</h2>
              <div class="md-3 offset-md-5">
                <form action="/order/filter" method="post" enctype="application/x-www-form-urlencoded">
                  <select class="custom-select" required id="byWhat" name="byWhat">
                    <option selected disabled>Filter by</option>
                    <option value="category">Category</option>
                    <option value="date">Date (after yyyy-MM-dd)</option>
                    <option value="price-more">More than (price)</option>
                    <option value="price-less">Less than (price)</option>
                    <option value="status">Status</option>
                  </select>
                  <div class="input-group-append">
                    <input hidden name="pageName"  th:value="${pageName}">
                    <input th:if="${pageName == 'Your orders'}" hidden name="user"  th:value="${#authentication.principal.id}">
                    <input th:unless="${pageName == 'Your orders'}" hidden name="user"  th:value=000>
                    <input type="text" class="form-control" required placeholder="Value" id="value" name="value" aria-label="Value" aria-describedby="basic-addon2">
                    <button class="btn btn button-dark" type="submit">Filter</button>
                  </div>
                </form>

              </div>


          </div>
        </div>
        <div class="row" th:if="${orders == null}">
            <h3>There are no orders by this criteria</h3>
        </div>
        <div th:unless="${orders == null}" >
          <div th:switch="${pageName}">
            <table th:case="${'All orders'}" class="addMargin table table-hover ">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Created at</th>
                <th scope="col">Dispatcher</th>
                <th scope="col">Courier</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="order, iStat : ${orders}">
                <th scope="row" th:text="${iStat.count}" >count</th>
                <td th:text="${#dates.format(order.created, 'dd-MM-yyyy HH:mm:ss')}">created at</td>
                <td th:text="${order.getDispatcher().username}">dispatcher</td>
                <td th:text="${order.getCourier() != null} ? ${order.getCourier().username} : 'none'">Courier</td>
                <td th:text="${order.status}">status</td>

                <td> <a class="btn button-dark" th:href="@{|/order/id/${order.id}|}">More</a></td>

                <div th:switch="${order.status}">
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).available}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'accepted\')'">Accept</button></td>
<!--                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'rejected\')'">Reject</button></td>-->
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).accepted}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'inTransit\')'">Confirm in transit</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'available\')'">Undo Accept</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).inTransit}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'delivered\')'">Confirm delivery</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'failedToDeliver\')'">Failed delivery</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).delivered}">
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).failedToDeliver}">
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).rejected}">
                    <td></td>
                    <td>"rejected" not implemented</td>
                  </div>
                  <div th:case="*">
                    <td>error</td>
                  </div>
                </div>
              </tr>
              </tbody>
            </table>

            <table th:case="${'Orders list'}" class="addMargin table table-hover ">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Weight</th>
                <th scope="col">Dimensions</th>
                <th scope="col">Status</th>
                <th scope="col">Dispatcher</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th sec:authorize="hasAnyAuthority('ADMIN')" scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="order, iStat : ${orders}">
                <th scope="row" th:text="${iStat.count}" >count</th>
                <td th:text="${order.origin}">origin</td>
                <td th:text="${order.destination}">destination</td>
                <td th:text="${order.weight}">weight</td>
                <td th:text="${order.dimensions}">dimensions</td>
                <td th:text="${order.status}">status</td>
                <td th:text="${order.getDispatcher().username}">dispatcher</td>

                <td> <a class="btn button-dark" th:href="@{|/order/id/${order.id}|}">More</a></td>

                <div th:switch="${order.status}">
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).available}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'accepted\')'">Accept</button></td>
<!--                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'rejected\')'">Reject</button></td>-->
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).accepted}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'inTransit\')'">Confirm in transit</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'available\')'">Undo Accept</button></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).inTransit}">
                    <td><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'delivered\')'">Confirm delivery</button></td>
                    <td><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'failedToDeliver\')'">Failed delivery</button></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).delivered}">
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).failedToDeliver}">
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).rejected}">
                    <td></td>
                    <td>"rejected" not implemented</td>
                  </div>
                  <div th:case="*">
                    <td>error</td>
                  </div>
                </div>
              </tr>
              </tbody>
            </table>

            <table th:case="${'Your orders'}" class="addMargin table table-hover ">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Created at</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')" scope="col">Dispatcher</th>
                <th sec:authorize="hasAnyAuthority('DISPATCHER', 'ADMIN')" scope="col">Courier</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')" scope="col"></th>
                <th sec:authorize="hasAnyAuthority('ADMIN')" scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="order, iStat : ${orders}">
                <th scope="row" th:text="${iStat.count}" >count</th>
                <td th:text="${#dates.format(order.created, 'dd-MM-yyyy HH:mm:ss')}">created at</td>
                <td th:text="${order.origin}">origin</td>
                <td th:text="${order.destination}">destination</td>
                <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')" th:text="${order.getDispatcher().username}">dispatcher</td>
                <td sec:authorize="hasAnyAuthority('DISPATCHER', 'ADMIN')" th:text="${order.getCourier() != null} ? ${order.getCourier().username} : 'none'">Courier</td>
                <td th:text="${order.status}">status</td>


                <td> <a class="btn button-dark" th:href="@{|/order/id/${order.id}|}">More</a></td>

                <div th:switch="${order.status}">
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).available}">
                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'accepted\')'">Accept</button></td>
<!--                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'rejected\')'">Reject</button></td>-->
                    <td sec:authorize="hasAnyAuthority('DISPATCHER', 'ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).accepted}">
                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'inTransit\')'">Confirm in transit</button></td>
                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'available\')'">Undo Accept</button></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).inTransit}">
                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn button-green" th:onclick="'changeStatus(' + ${order.id} + ', \'delivered\')'">Confirm delivery</button></td>
                    <td sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')"><button class="btn btn-danger-update" th:onclick="'changeStatus(' + ${order.id} + ', \'failedToDeliver\')'">Failed delivery</button></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).delivered}">
                    <td></td>
                    <td></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).failedToDeliver}">
                    <td></td>
                    <td></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><button class="btn btn-danger-update" th:onclick="'deleteOrder(' + ${order.id} + ')'">Delete</button></td>
                  </div>
                  <div th:case="${T(com.spproject.spproject.domain.OrderStatus).rejected}">
                    <td></td>
                    <td>"rejected" not implemented</td>
                  </div>
                  <div th:case="*">
                    <td>error</td>
                  </div>
                </div>
              </tr>
              </tbody>
            </table>
            <div th:case="*">
              <h3>error</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>