<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
</head>
<body>



<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <a class="navbar-brand" href="/">
    <img th:src="@{/images/logo.png}" alt="logo"  class="img-responsive" width="100" height="100"/>
  </a>
  <button
          type="button"
          class="navbar-toggler ml-auto"
          data-toggle="collapse"
          data-target="#nav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
        <a class="nav-link" href="/order/all">All Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order/status/available" sec:authorize="hasAnyAuthority('COURIER', 'ADMIN')">Available Orders</a>
      </li>
      <div sec:authorize="isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/order/user/'+${#authentication.principal.id}}" sec:authorize="hasAnyAuthority('COURIER', 'DISPATCHER', 'ADMIN')">My orders</a>

        </div>
      <li class="nav-item" sec:authorize="hasAnyAuthority('DISPATCHER', 'ADMIN')"><a class="nav-link" href="/order/new">Create order</a></li>
      <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
        <a class="nav-link" href="/admin/user/all">All Users</a>
      </li>
    </ul>
  </div>
  <div
          sec:authorize="isAuthenticated()"
          class="collapse navbar-collapse"
          id="nav"
  >
    <ul class="navbar-nav ml-auto">
      <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle" id="dropdownUserMenuLink" data-toggle="dropdown">
          <span class="fa fa-user mr-2"></span>
          <a sec:authentication="name">Name</a>
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuLink">
          <a class="dropdown-item" th:href="@{/security/userSettings/changePassword}"><span class="fa fa-key mr-2"></span>Change password</a>
          <a class="dropdown-item" th:href="@{/logout}"><span class="fa fa-sign-out mr-2"></span>Logout</a>
        </div>
      </div>
    </ul>
  </div>
  <div
          sec:authorize="isAnonymous()"
          class="collapse navbar-collapse"
          id="nav"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/security/login/login}"><span class="fa fa-sign-in mr-2"></span>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/security/login/registration}"><span class="fa fa-user mr-2"></span>Register</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
