.dropdown-menu>a:hover {
	background-color: #33BEFF;
	text-decoration: none;
}

.table_morecondensed>thead>tr>th, .table_morecondensed>tbody>tr>th,
	.table_morecondensed>tfoot>tr>th, .table_morecondensed>thead>tr>td,
	.table_morecondensed>tbody>tr>td, .table_morecondensed>tfoot>tr>td {
	padding: 1px;
	font-size: auto;
}

.nav>li>a {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-space {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 12px
}

.control-label {
	padding-top: 6px;
}

.pull-left {
	margin-left: -20px; /* Try with different values until you are happy */
}


thead {
	background-color: lightgray;
	color: black;
	line-height: 15px;
	font-weight: bold;
}


legend {
	font-size: 14px;
	font-weight: bold;
	color: blue;
}


.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 25px;
	line-height: 20px;
	background-color: #f5f5f5;
	text-align: center;
}
/*Comment List styles*/

.comment{
    background: #ddd;
    border: solid 1px #bfbfbf;
    border-radius: 50px;
    margin-top: 20px;
    min-height: 100px;
}
.comment-user{
    padding-left:50px;
    padding-top:12px;
    font-size:20px;

}
.comment-date{
    font-size:12px;
     padding-left:50px;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.mainContent{
    min-height:600px;
}
.button-green{
    color: #fff !important;
    background-color: #007b5e !important;
    border-color: #007b5e !important;
}
.button-dark{
    color: rgb(160, 160, 160) !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
.addMarginBottom{
    margin-bottom: 10px;
}
.addMargin{
    margin-top:25px;
}
.addMarginRight{
    margin-right:25px;
}
.addMarginLeft{
    margin-right:35px;
}
.nav-link{
      font-size: 115%;
}
.comment-post{
    padding-left:35px
}
.btn-danger-update {
    color: #000!important;
    background-color: #dee2e6 !important;
    border-color: #dee2e6 ;
}
.btn-danger-update:hover {
  background-color: #b30000 !important;

}