<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 class="m-4">Login</h1>

      <div class="row">
        <div th:if="${param.error != null}" class="alert alert-danger mt-2 ml-2 col-4" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
          error
        </div>
      </div>

      <form id="form" method="POST" action="/security/login/login" >

        <div class="form-group row">
          <label class="col-sm-3">E-mail</label>
          <span class="col-sm-5">
            <input class="form-control" type="text" name="username" value=""/>
          </span>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">Password</label>
          <span class="col-sm-5">
            <input class="form-control" type="password" name="password"/>
          </span>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary button-green m-2">Login</button>
        </div>
      </form>
      <div class="row">
        <a class="btn button-dark m-2" th:href="@{/security/login/registration}">Register</a>
        <a class="btn btn-danger-update m-2" th:href="@{/security/forgotPassword/request}">Forgot password</a>
      </div>
    </div>
    <div layout:fragment="optional">
      <script th:inline="javascript">
        //
        $(document).ready(function () {
          $( "#form" ).validate({
            rules: {
              username: {
                required: true,
                email: true,
                remote: {
                  url: "/security/rest/emailNotExists",
                  dataType:"json"
                }
              },
              password: {
                required: true
              }
            },
            messages: {
              username: {
                remote: "This email doesn't exists"
              }
            }
          });
        });
      </script>
    </div>
  </body>
</html>
