<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 class="m-4">Registration</h1>
      <span class="row">
        <span id="globalError" class="alert alert-danger col-sm-4 my-4" style="display: none;" ></span>
      </span>
      <form id="form" enctype="utf8">
        <div class="form-group row">
          <label class="col-sm-3">Name</label>
          <span class="col-sm-5">
            <input class="form-control" name="name" value=""/>
          </span>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">E-mail</label>
          <span class="col-sm-5">
            <input class="form-control" name="email" value=""/>
          </span>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">Password</label>
          <span class="col-sm-5" >
            <input class="form-control" name="password" value="" type="password"/>
          </span>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">Confirm Pasword</label>
          <span class="col-sm-5">
            <input class="form-control" name="matchingPassword" value="" type="password"/>
          </span>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">Choose role</label>
          <div class="col-sm-5">
            <div class="form-check form-check-inline">
              <input type="radio" name="role" class="form-check-input" value="courier" id="role_courier">
              <label class="form-check-label" for="role_courier">Courier</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="role" class="form-check-input" value="dispatcher" id="role_dispatcher">
              <label class="form-check-label" for="role_dispatcher">Dispatcher</label>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary button-green m-2">Register</button>
        </div>
      </form>
      <div class="row">
        <a th:href="@{/login}" class="btn btn-dark m-2">Login</a>
      </div>
    </div>
    <div layout:fragment="optional">
      <script th:inline="javascript">
        //
        $( "#form" ).validate({
          rules: {
            name: {
              required: true,
              maxlength: 20
            },
            email: {
              required: true,
              email: true,
              remote: {
                url: "/security/rest/emailExists",
                dataType:"json"
              }
            },
            password: {
              required: true
            },
            matchingPassword: {
              required: true,
              equalTo: "input[name='password']"
            },
            role: {
              required: true
            }
          },
          messages: {
            email: {
              remote: "This email already exists"
            },
            matchingPassword: {
              equalTo: "Password doesn't match"
            }
          }
      });
        $(document).ready(function () {
          $('form').submit(function(event) {
            register(event);
          });


        });

        function register(event){
          event.preventDefault();
            if(!$( "#form" ).valid()){
              return;
            }
            $("#globalError").hide();
            var formData= $('form').serialize();
            $.post("/security/login/rest/registration",formData ,function(data){
                if(data.message == "success"){
                    window.location.href = "/security/login/successRegistration";
                }
                else{
                      $("#globalError").show().text(data.message);
                }
            });
        }
      </script>
    </div>
  </body>
</html>
